<div class="body-login" >
    <div class="row container">
        <div class="col-md-9 container-form">
            <div class="header-form">
                <i class="fa-solid fa-arrow-right-to-bracket"></i>
                <h3>Iniciar Sesión</h3>
            </div>

            <form class="body-form" *ngIf="!loading">
                <div class="input-group mb-3" *ngFor="let input of inputsLogin">
                    <span class="input-group-text icon-input text-danger" id="basic-addon1"><i [ngClass]="input.icon" ></i></span>
                    <input type="{{input.type}}" [(ngModel)]="usuario[input.name]" [ngModelOptions]="{standalone:true}" class="form-control" placeholder="{{input.placeholder}}" aria-label="{{input.arial_label}}" aria-describedby="basic-addon1">
                </div>
                
                <button type="button" class="btn btn-danger" (click)="iniciarSesion()">Ingresar</button>
               
            </form>

            <div  class="text-center" *ngIf="loading" style="padding-bottom: 6rem;">
                <app-loading></app-loading>
            </div>


        </div>
        <div class="col-md-3 container-danger text-center">
            <i class="fab fa-d-and-d fa-fw fa-6x" style="padding-top: 2rem;"  ></i>
            <h1>D&D</h1>
        </div>
        
    </div>

</div>


